
services:

  # MySQL database for mpatient  ---------------------------------------------------------------------------------------
  mysql-mpatient:
    image: mysql:8.0
    container_name: mysql-mpatient
    environment:
      MYSQL_ROOT_PASSWORD: rootroot
      MYSQL_DATABASE: patientservice
    volumes:
      - mysql-mpatient-data:/var/lib/mysql
    networks:
      - microdiab-network
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root -prootroot || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # MongoDB database for mnotes ----------------------------------------------------------------------------------------
  mongodb-mnotes:
    image: mongo:6.0
    container_name: mongodb-mnotes
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: prod_notes
    volumes:
      - mongodb-mnotes-data:/data/db
    networks:
      - microdiab-network
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval 'db.adminCommand(\"ping\")' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # MySQL database for mgateway ----------------------------------------------------------------------------------------
  mysql-mgateway:
    image: mysql:8.0
    container_name: mysql-mgateway
    environment:
      MYSQL_ROOT_PASSWORD: rootroot
      MYSQL_DATABASE: userservice
    volumes:
      - mysql-mgateway-data:/var/lib/mysql
    networks:
      - microdiab-network
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root -prootroot || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Eureka Service -----------------------------------------------------------------------------------------------------
  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "9102:9102"
    environment:
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
    networks:
      - microdiab-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9102/actuator/health" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

  # Zipkin Service -----------------------------------------------------------------------------------------------------
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - microdiab-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9411/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s



  # mpatient Service ---------------------------------------------------------------------------------------------------
  mpatient:
    build: ./mpatient
    container_name: mpatient
    ports:
      - "9001:9001"
    environment:
      - MYSQL_HOST=mysql-mpatient
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=patientservice
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=rootroot
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
    networks:
      - microdiab-network
    depends_on:
      mysql-mpatient:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9001/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # mnotes Service -----------------------------------------------------------------------------------------------------
  mnotes:
    build: ./mnotes
    container_name: mnotes
    ports:
      - "9002:9002"
    environment:
      - MONGO_HOST=mongodb-mnotes
      - MONGO_PORT=27017
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
    networks:
      - microdiab-network
    depends_on:
      eureka-server:
        condition: service_healthy
      mongodb-mnotes:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9002/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # mrisk Service ------------------------------------------------------------------------------------------------------
  mrisk:
    build: ./mrisk
    container_name: mrisk
    ports:
      - "9003:9003"
    environment:
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
    networks:
      - microdiab-network
    depends_on:
      eureka-server:
        condition: service_healthy
      mpatient:
        condition: service_healthy
      mnotes:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9003/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # clientui Service ---------------------------------------------------------------------------------------------------
  clientui:
    build: ./clientui
    container_name: clientui
    ports:
      - "8090:8090"
    environment:
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
    networks:
      - microdiab-network
    depends_on:
      eureka-server:
        condition: service_healthy
      mpatient:
        condition: service_healthy
      mnotes:
        condition: service_healthy
      mrisk:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8090/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 50s

  # mgateway Service ---------------------------------------------------------------------------------------------------
  mgateway:
    build: ./mgateway
    container_name: mgateway
    ports:
      - "9010:9010"
    environment:
      - EUREKA_SERVER_HOST=eureka-server
      - EUREKA_SERVER_PORT=9102
      - MYSQL_GATEWAY_HOST=mysql-mgateway
      - MYSQL_GATEWAY_PORT=3306
      - MYSQL_GATEWAY_DATABASE=userservice
      - MYSQL_GATEWAY_USERNAME=root
      - MYSQL_GATEWAY_PASSWORD=rootroot
      - HOSTNAME=mgateway
    networks:
      - microdiab-network
    depends_on:
      eureka-server:
        condition: service_healthy
      mysql-mgateway:
          condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9010/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

# Volumes for data persistence -----------------------------------------------------------------------------------------
volumes:
  mysql-mpatient-data:  # Volume for MySQL data - Patients
  mongodb-mnotes-data:  # Volume for MongoDB data - Notes
  mysql-mgateway-data:  # Volume for MySQL data - Users

# Internal network for communication between services ------------------------------------------------------------------
networks:
  microdiab-network:
    driver: bridge